{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
    <h3>Meme generator</h3>

    <div class="columncontainer m-1">
        <div class="column">
            <h5>STEP 1: Select base image</h5>
            <p>Either give URL to an image or a local file:</p>
            <div>
                <form action="/make_meme" method="POST" enctype="multipart/form-data" id="inputform">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="img_url" 
                            id="base-img-url" placeholder="URL..." type="text">
                        <button class="btn btn-primary" id="btn-fetch-img-from-url" type="button"
                                onclick="getImgFromURL(event)">Fetch</button>

                        <br>

                        <div style="margin-top: 10px;">
                            <label for="img_file" class="btn custom-file-upload">
                                OR, select a local file</label>
                            <input name="img_file" id="img_file" type="file" accept="image/*" 
                                    onchange="loadFile(event)">

                        </div>
                    </div>

                    <br>

                    <h5>STEP 2: Setup meme text</h5>
                        <div class="form-group">
                            <div> 
                                <label class="labelgroup1" for="upper_text">Upper text:</label>
                                <textarea rows="1" cols="30" id="upper_text" name="upper_text"></textarea>
                            </div>
                            <div>
                                <label class="labelgroup1" for="lower_text">Lower text:</label>
                                <textarea rows="1" cols="30" id="lower_text" name="lower_text"></textarea>
                            </div>

                            <div> <!-- This always converts the color to RGB hex -->
                                <label class="labelgroup1" for="upper_text_color">Color:</label>
                                <input type="color" id="upper_text_color" name="upper_text_color" value="#e66465">
                            </div>
                            
                            
                            <div class="slidecontainer">
                                <label for="transparency">Transparency (current: <span id="transparency_val"></span>)</label>
                                <span><input class="slider" type="range" min="1" max="99" value="50" id="transparency_slider" name="transparency" /></span> 
                            </div>
                            
                        </div>
                        <button class="btn btn-primary" type="submit">Generate</button>
                </form>
            </div>
        </div>

        <div class="column">
            <h5>Original image</h5>
            <div class="base-img-container">
                <img id="base-image" style="width:100%;"/>
            </div>
        </div>

        <!-- Show the processed output image-->
        <div class="column">
            <h5>Modified image</h5>
            <div id="processed-img-div">
                <img id="processed-img">
                <br>
                <button class="btn btn-primary" id="download-meme-btn" style="display:none; margin-top:5px" onclick="download_meme()">Download</button>
            </div>
        </div>   

    </div>

    <!-- Load the scripts -->
    <script src="static/scripts.js"></script>

{% endblock %}
